@font-face {
  font-family: "Docallisme";
  src: url(../Fonst/DOCALLISME\ ON\ STREET.ttf);
}
.animacion__logo {
  animation: pulse infinite 2.4s alternate;
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.titulo__header {
  font-family: "Docallisme";
  font-size: 50px;
  display: flex;
  padding: 5px;
  font-size: 110px;
}
.titulo__header--index {
  font-size: 110px;
}

@media screen and (max-width: 460px) {
  .titulo__header--index {
    font-size: 50px;
  }
}
.nav__style {
  justify-content: flex-end;
  margin-right: 80px;
}

.nav:hover {
  color: red;
}

@media screen and (max-width: 576px) {
  .titulo__header {
    font-size: 70px;
  }
  .titulo__header--t-grandes {
    font-size: 55px;
  }
}
#carouselSection {
  width: 100%;
}

.carousel-inner {
  height: 550px;
}

.container-fluid {
  --bs-gutter-x: 0;
}

.conteiner__img3 {
  width: 100%;
  height: 650px;
  display: inline-flex;
}

.conteiner__sec2-1 {
  margin-top: 25px;
}

.conteiner__sec2-2 {
  margin-top: 25px;
}

.conteiner__sec2-3 {
  margin-top: 25px;
}

.conteiner__sec2-4 {
  margin-top: 25px;
}

.conteiner__sec2-5 {
  margin-top: 25px;
}

.conteiner__sec2-6 {
  margin-top: 25px;
}

.conteiner__sec2-7 {
  margin-top: 25px;
}

.conteiner__sec2-8 {
  margin-top: 25px;
}

.padding-main__leyendas {
  padding: 20px;
}

.card__altura {
  height: 10px;
}

.equipos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: "header header" "div     div" "section section" "section section" "section section" "section section";
}
.equipos--pag_de5 {
  margin-bottom: 240px;
  margin-left: 40px;
}
.equipos--pag_de5--img_pelicans {
  margin-top: 55px;
}
.equipos--pag_de5--img_wolves {
  margin-top: 20px;
}
.equipos--pag_de5--img_jazz_kings {
  margin-top: 20px;
}
.equipos--pag_de5--img_hawks {
  margin-top: -15px;
}
.equipos--pag_de5--img_pancers {
  margin-top: 25px;
}
.equipos__modelo {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
.equipos__titulo {
  text-align: center;
  font-family: "Basketball";
  font-size: 70px;
  margin-bottom: 10px;
}
.equipos__titulo--tarjetas {
  font-family: "Basketball";
}
.equipos--marg_top {
  margin-top: 50px;
  padding: 40px;
}
@media screen and (max-width: 460px) {
  .equipos {
    grid-template-columns: 100%;
    grid-template-areas: "header" "div" "section" "section" "section" "section" "section" "section" "section" "section";
    margin-top: 0%;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    display: inline-block;
  }
}
@media screen and (max-width: 390px) {
  .equipos {
    grid-template-columns: 100%;
    grid-template-areas: "header" "div" "section" "section" "section" "section" "section" "section" "section" "section";
    margin-top: 0%;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    display: inline-block;
  }
}

.img__sections {
  padding-top: 40px;
}
.img__sections--lakers {
  background-color: rgb(90, 14, 128);
}
.img__sections--mavs {
  background-color: rgb(16, 197, 230);
}
.img__sections--nuggets {
  background-color: rgba(100, 3, 3, 0.696);
}
.img__sections--spurs {
  background-color: rgba(128, 128, 128, 0.726);
}
.img__sections--suns {
  background-color: rgba(255, 166, 0, 0.779);
}
.img__sections--okc {
  background-color: rgb(255, 115, 0);
}
.img__sections--gsw {
  background-color: rgba(0, 179, 255, 0.856);
}
.img__sections--memphis {
  background-color: rgba(0, 0, 255, 0.735);
}
.img__sections--rokets {
  background-color: rgba(0, 0, 0, 0.589);
}
.img__sections--Jazz {
  background-color: yellow;
}
.img__sections--pelicans {
  background-color: grey;
}
.img__sections--wolves {
  background-color: white;
}
.img__sections--kings {
  background-color: grey;
}
.img__sections--portland {
  background-color: rgb(234, 61, 61);
}
.img__sections--celtics {
  background-color: green;
}
.img__sections--hornets {
  background-color: rgb(82, 196, 224);
}
.img__sections--bulls {
  background-color: white;
}
.img__sections--76ers {
  background-color: white;
}
.img__sections--pistons {
  background-color: rgb(101, 101, 214);
}
.img__sections--heat {
  background-color: rgb(233, 104, 104);
}
.img__sections--bucks {
  background-color: rgb(42, 125, 42);
}
.img__sections--cavaliers {
  background-color: rgb(192, 66, 66);
}
.img__sections--nets {
  background-color: grey;
}
.img__sections--hawks {
  background-color: rgb(247, 241, 241);
  padding: 0px;
}
.img__sections--pancers {
  background-color: rgb(232, 232, 154);
}
.img__sections--raptors {
  background-color: rgb(254, 4, 4);
}
.img__sections--magic {
  background-color: rgb(7, 200, 210);
}
.img__sections--wizards {
  background-color: white;
}

.campeones_padre {
  height: 1000px;
  width: 100%;
  padding: 15px;
  display: flexbox;
}
.campeones_padre__sec1 {
  background-color: rgb(125, 2, 2);
  height: 300px;
  width: 98%;
  margin-bottom: 30px;
  padding: 5px;
  display: grid;
  grid-template-columns: 35% 30% 30%;
  grid-template-rows: 100%;
  grid-template-areas: "div div div";
}
.campeones_padre__sec1__text {
  background-color: rgb(230, 169, 169);
  height: 255px;
  padding: 5px;
  text-align: justify;
  font-size: 14px;
  font-family: "Basketball";
}
.campeones_padre__sec1__text--title {
  background-color: rgb(236, 154, 154);
  margin-bottom: 0px;
  text-align: center;
  font-family: "Basketball";
  font-size: 30px;
}
.campeones_padre__sec1__video {
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .campeones_padre {
    background-color: red;
    padding-left: 5px;
    width: 100%;
    height: 3000px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "section" "section" "section";
  }
  .campeones_padre__sec1 {
    background-color: rgb(125, 2, 2);
    width: 100%;
    height: 820px;
    margin-left: 5px;
    padding-top: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: "div" "div" "div";
  }
  .campeones_padre__sec1__video {
    margin-left: 0px;
  }
  .campeones_padre__sec1 .tamanio__imgs {
    width: 100%;
  }
  .campeones_padre__sec1 .tamanio__vid {
    margin: none;
    width: 100%;
    height: 325px;
    padding-right: 0px;
    padding-top: 38px;
    padding-left: -10px;
    flex-wrap: wrap;
  }
}
.sec1__mvp {
  width: 100%;
  padding: 15px;
  padding-top: 30px;
  height: 350px;
}

@media screen and (max-width: 576px) {
  .sec1__mvp {
    height: 600px;
  }
}
@media screen and (max-width: 414px) {
  .sec1__mvp {
    height: 700px;
  }
}
.fond-mvp {
  height: 100%;
  margin-bottom: 20px;
}

.backg-sec1 {
  background-color: rgba(185, 11, 11, 0.715);
  width: 95%;
  height: 300px;
  margin: 0px 0px 20px 30px;
  padding: 10px;
}
.backg-sec1__text {
  text-align: justify;
  font-size: 14px;
  font-family: "Basketball";
}
.backg-sec1__text--tit-bg1 {
  font-family: "Basketball";
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.backg-sec1__text--tit-bg1-allstar {
  font-family: "Basketball";
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .backg-sec1 {
    width: 100%;
    height: 630px;
    margin: 0px;
    margin-right: 0px;
  }
  .fond-mvp {
    height: 100%;
    width: 100%;
    padding: 5px;
  }
  .back-sec1 {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .backg-sec1 {
    width: 100%;
    height: 630px;
    margin-right: 0px;
  }
  .fond-mvp {
    width: 100%;
    padding-left: 0px;
  }
  .back-sec1 {
    width: 100%;
  }
}
.conteiner__actualidad {
  width: 100%;
  height: 700px;
  background-color: greenyellow;
  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-area: 30% 30% 30%;
  grid-template-areas: "div div div";
}
.conteiner__actualidad__tarjetas-actualidad {
  margin-top: 30px;
}

@media screen and (max-width: 460px) {
  .conteiner__actualidad {
    height: 1800px;
    padding-left: 85px;
    display: grid;
    grid-area: 30% 30% 30%;
    grid-template-areas: "div" "div" "div";
  }
}
@media screen and (max-width: 390px) {
  .conteiner__actualidad {
    padding-left: 55px;
  }
}
.historia {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(red, rgb(42, 80, 138));
  margin-top: 0px;
}

.fondo {
  background-color: red;
}
.fondo__margin {
  margin: 0px;
}
.fondo__height {
  height: 550px;
}

.info {
  height: 100%;
  width: 850px;
  margin-left: 200px;
  background-color: white;
  border: 15px solid blue;
  text-align: justify;
}
.info__titulo {
  font-family: "Basketball";
}

@media screen and (max-width: 576px) {
  .info {
    margin-left: 0px;
  }
}
.campeones_padre__sec2 {
  background-color: blue;
  height: 300px;
  width: 98%;
  margin-bottom: 30px;
  padding: 5px;
  display: grid;
  grid-template-columns: 35% 30% 30%;
  grid-template-rows: 100%;
  grid-template-areas: "div div div";
}
.campeones_padre__sec2__text {
  padding: 10px;
  text-align: justify;
  font-size: 12px;
  font-family: "Basketball";
}
.campeones_padre__sec2__text--title {
  text-align: center;
  font-family: "Basketball";
}
.campeones_padre__sec2__video {
  margin-left: 10px;
}

.bg-warriors {
  background-color: skyblue;
  height: 290px;
  width: 350px;
}

@media screen and (max-width: 576px) {
  .campeones_padre__sec2 {
    background-color: rgb(2, 53, 125);
    width: 100%;
    height: 820px;
    margin-left: 5px;
    padding-top: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: "div" "div" "div";
  }
  .campeones_padre__sec2__video {
    margin-left: 0px;
  }
  .campeones_padre__sec2 .tamanio__imgs {
    width: 100%;
    margin-bottom: 20px;
  }
  .campeones_padre__sec2 .tamanio__vid--2 {
    margin: none;
    width: 100%;
    height: 325px;
    padding-right: 0px;
    padding-top: 28px;
    padding-left: -10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .bg-warriors {
    height: 220px;
    width: 100%;
    margin-left: 0px;
    margin-top: 49px;
  }
}
@media screen and (max-width: 576px) {
  .info {
    margin-left: none;
  }
}
.padre-premio {
  height: 1200px;
  width: 100%;
  background-color: rgb(184, 2, 2);
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 25% 25% 25%;
  grid-template-areas: "section div" "section div" "section div";
}

.conteiner-premio {
  height: 700px;
  width: 380px;
  background-color: rgb(184, 2, 2);
  padding: 40px;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
}
.conteiner-premio__tit-premio {
  font-family: "Basketball";
  text-align: center;
  color: white;
}

.conteiner-tarj-mvp {
  height: 930px;
  width: 95%;
  background-color: rgb(184, 2, 2);
  margin-top: 30px;
  padding: 10px;
}
.conteiner-tarj-mvp--mvp2 {
  height: 1200px;
  padding: 5px;
}

.nombres-mvp {
  font-family: "Basketball";
}

.texto_mvp {
  font-size: 14px;
  text-align: justify;
}

.tarjetas__mvp2 {
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .padre-premio {
    background-color: red;
    height: 2700px;
    width: 100%;
    padding: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "section" "section" "section" "footer";
    display: block;
  }
  .conteiner-premio {
    width: 90%;
    margin-bottom: 50px;
    padding-left: 55px;
    margin-left: 25px;
  }
  .conteiner-tarj-mvp {
    width: 100%;
    height: 1950px;
  }
}
@media screen and (max-width: 414px) {
  .conteiner-premio {
    padding: 25px;
  }
}
.conteiner-videos-allstar {
  background-color: grey;
  width: 100%;
  height: 450px;
  padding-left: 15px;
  align-items: center;
  display: inline-flex;
}
.conteiner-videos-allstar__videos-individuales {
  background-color: greenyellow;
  height: 430px;
  width: 375px;
  margin: 10px;
}
.conteiner-videos-allstar__videos-individuales__bg-video {
  background-color: black;
  width: 365px;
  height: 295px;
  margin: 5px;
}
.conteiner-videos-allstar__videos-individuales__bg-text {
  background-color: black;
  width: 365px;
  height: 120px;
  margin: 5px;
  padding: 15px;
  color: aliceblue;
  text-align: center;
  font-family: "Basketball";
}

@font-face {
  font-family: "Basketball";
  src: url(/Fonst/Basketball.otf);
}
@media screen and (max-width: 576px) {
  .conteiner-videos-allstar {
    height: 1350px;
    width: 100%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "div" "div" "div";
  }
  .conteiner-videos-allstar__videos-individuales {
    margin-left: 30px;
  }
}
@media screen and (max-width: 390px) {
  .conteiner-videos-allstar {
    height: 1350px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "div" "div" "div";
  }
  .conteiner-videos-allstar__videos-individuales {
    margin-left: -7px;
  }
}
.titulo__section2 {
  font-family: "Docallisme";
  font-size: 50px;
  font-size: 40px;
  font-family: "Basketball";
}

.sec3__index {
  height: 250px;
  padding-top: 50px;
}

@media screen and (max-width: 460px) {
  .sec3__index {
    height: 530px;
  }
}
@media screen and (max-width: 460px) {
  .conteiner-videos__index {
    background-color: blue;
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-areas: "div" "div";
  }
}
.titulosSection3 {
  font-family: "Basketball";
  font-size: 40px;
  font-display: 42px;
  margin-top: 30px;
  font-stretch: expanded;
  line-height: 55px;
}
@media screen and (max-width: 460px) {
  .titulosSection3 {
    font-size: 25px;
  }
}

.campeones_padre__sec3 {
  background-color: rgb(15, 120, 15);
  height: 300px;
  width: 98%;
  margin-bottom: 30px;
  padding: 5px;
  display: grid;
  grid-template-columns: 35% 30% 30%;
  grid-template-rows: 100%;
  grid-template-areas: "div div div";
}
.campeones_padre__sec3__text {
  background-color: rgb(139, 241, 139);
  margin-bottom: 3px;
  padding: 10px;
  text-align: justify;
  font-size: 14px;
  font-family: "Basketball";
}
.campeones_padre__sec3__text--title {
  text-align: center;
  background-color: rgb(139, 241, 139);
  margin-bottom: 0px;
  font-family: "Basketball";
}
.campeones_padre__sec3__video {
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .campeones_padre__sec3 {
    background-color: rgb(54, 193, 54);
    width: 100%;
    height: 820px;
    margin-left: 5px;
    padding-top: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: "div" "div" "div";
  }
  .campeones_padre__sec3__video {
    margin-left: 0px;
  }
  .campeones_padre__sec3 .tamanio__imgs {
    width: 100%;
    margin-bottom: 20px;
  }
  .campeones_padre__sec3 .tamanio__vid--3 {
    margin: none;
    width: 100%;
    height: 325px;
    padding-right: 0px;
    padding-top: 28px;
    padding-left: -10px;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
}
.conteiner-estadistica-allstar {
  background-color: pink;
  width: 100%;
  height: 4200px;
  padding: 30px;
  padding-left: 90px;
}

@media screen and (max-width: 576px) {
  .conteiner-estadistica-allstar {
    width: 100%;
  }
  .imag-sec3-allstar {
    width: 100%;
    height: 100%;
  }
  .imag-sec3-allstar {
    width: 0px;
    height: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 390px) {
  .conteiner-estadistica-allstar {
    width: 100%;
  }
  .imag-sec3-allstar {
    width: 0px;
    height: 0px;
    margin-right: 0px;
  }
}
.formatofooter {
  text-align: center;
  font-family: "Basketball";
}
.formatofooter--ir_a_inicio {
  font-family: "Basketball";
}
.formatofooter--aria_label {
  justify-content: center;
}
.formatofooter__tamanio-f {
  width: 100%;
  height: 100px;
}

/*# sourceMappingURL=pagina.css.map */
