*{
    margin: 0;
    padding: 0;
    
}

#carouselSection{
    width: 100%;
    

}

.carousel-inner{
    height: 650px;
   
}

.container-fluid{
    --bs-gutter-x: 0;
}

.text-center{
    padding: 30px;
    justify-content: space-evenly;
    
    
}

.conteiner_img3{
    margin: 0%;
    padding: 0%;
    background-color: black;
    height: 650px;
    width: 100%;
    display: flex;
    display: inline-flex;
    flex-direction: row;
}

.titulo {
    padding: 5px 10px 5px 10px;
    font-family: "Docallisme";
    font-size: 70px;
   
}

.navStyle {
    justify-content: space-evenly;
    justify-content: flex-end;
    margin-right: 90px;
   
}

.marginbutton{
    margin-bottom: 40px;
    margin-top: 30px;
}

.marginUnico {
    margin-bottom: 20px;
    margin-top: 30px;
}
.marginSec2Col2 {
    margin-bottom: 40px;
}

.carousel-inner2 {
    height: 450px;
    justify-content: center;
    padding: 40px 10px 30px 10px;
   
   
}

.conteinerVideos {
    background-color: black;
    height: 350px;
    width: 100%;
    display: flex;
    border: blue solid 7px;
}

@media screen and (max-width:460px) {
    .conteinerVideos {
        display: flex;
        flex-direction:column;
        height: 100%;
        color: aliceblue;
       

    }
    .carousel-inner2{
        height: 600px;
    }
    .navStyle{
        width: 100%;

    }
    .titulo{
        font-size: 50px;
    }
    .titulo1{
        font-size: 15%;
    }
    .contenidoFooters2{
        margin: 10px 0px 10px 27%
    }
    
}
@media screen and (max-width:390px) {
    .conteinerVideos {
        display: flex;
        flex-direction:column;
        height: 100%;
        color: aliceblue;
    
    }
    .carousel-inner2{
        height: 600px;
    }
    .navStyle{
        width: 100%;

    }
    .titulo{
        font-size: 50px;
    }
   
    .body{
        height: 100%;
    }
    
}

@font-face {
    font-family: "Docallisme" ;
    src: url(../Fonst/DOCALLISME\ ON\ STREET.ttf);
    font-family: ;
}

.titulosSection2{
    font-family:"Docallisme" ;
    font-size: 40px;
   font-stretch: expanded;
   line-height: 35px;
   
}

.titulosSection3{
    font-family:"Docallisme" ;
    font-size: 40px;
    font-display: 42px;
    margin-top: 30px;
   font-stretch: expanded;
   line-height: 55px;
   
}


.textoFooter {
    margin-left: 50px;
}

.marginLeyendas{
    margin-top: 7px;
}

.contenidoFooters{
    margin: 10px 0px 10px 40%
}

.contenidoFooters2{
    margin: 10px 0px 10px 33%
}

.titulo1{
    font-size: 30%;

}