*{
    margin: 0;
    padding: 0;
    
}

#carouselSection{
    width: 100%;
    

}

.carousel-inner{
    height: 800px;
   
}

.container-fluid{
    --bs-gutter-x: 0;
}

.text-center{
    padding: 30px;
    justify-content: space-evenly;
    
}

.conteiner_img3{
    margin: 0%;
    padding: 0%;
    background-color: black;
    height: 800px;
    width: 100%;
    display: flex;
    display: inline-flex;
    flex-direction: row;
}