.formatofooter {
    text-align: center;
    font-family: "Basketball";
    &--ir_a_inicio {
        font-family: "Basketball";
    }
    &--aria_label {
        justify-content: center;
    }
    &__tamanio-f {
        width: 100%;
        height: 100px;
    }
}

