#carouselSection{
    width: 100%;

}

.carousel-inner{
    height: 550px;
   
}

.container-fluid{
    --bs-gutter-x: 0;
}

.conteiner__img3 {
    width: 100%;
    height: 650px;
    display: inline-flex;
}

.conteiner__sec2{
  
}

.tamanio__cards {
   
}

@for $i from 1 through 8{
    .conteiner__sec2-#{$i} {
      margin-top: 25px;
      
    }
}
   
@for $i from 1 through 8 {
    .tamanio__cards-#{$i}{
        
    }
}
.padding-main__leyendas {
    padding: 20px;
}

.card {
    &__altura {
        height: 10px;
    }
}

.equipos {
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    "header header"
    "div     div"
    "section section"
    "section section"
    "section section"
    "section section";
    
    &--pag_de5 {
        margin-bottom: 240px;
        margin-left: 40px;
        &--img_pelicans {
            margin-top: 55px;
        }
        &--img_wolves {
            margin-top: 20px;
        }
        &--img_jazz_kings {
            margin-top: 20px;
        }
        &--img_hawks {
            
            margin-top: -15px;
        }
        &--img_pancers {
            
            margin-top: 25px;
        }
    }
    &__modelo {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
        
        
        
    }
    &__titulo {
        text-align: center;
        font-family: "Basketball";
        font-size: 70px;
        margin-bottom: 10px;
        &--tarjetas {
            font-family: "Basketball";
        }
    }
    &--marg_top {
        margin-top: 50px;
        padding: 40px;
       
    }
    @media screen and (max-width:460px) {
       grid-template-columns: 100%;
        grid-template-areas:
        "header" 
        "div"
        "section"
        "section"
        "section"
        "section"
        "section"
        "section"
        "section"
        "section";
        margin-top: 0%;
        padding: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        display: inline-block;


        
        
        
    }
    @media screen and (max-width:390px) {
        grid-template-columns: 100%;
        grid-template-areas:
        "header"
        "div"
        "section"
        "section"
        "section"
        "section"
        "section"
        "section"
        "section"
        "section";
        margin-top: 0%;
        padding: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        display: inline-block;
        
    }
    
    
}


.img__sections {
  padding-top: 40px;
        &--lakers {
            background-color: rgb(90, 14, 128);
        };
        &--mavs {
            background-color: rgb(16, 197, 230);
        }
       
        &--nuggets {
            background-color: rgba(100, 3, 3, 0.696);
        }
        &--spurs {
            background-color: rgba(128, 128, 128, 0.726);
        }
        &--suns {
            background-color: rgba(255, 166, 0, 0.779);
        }
        &--okc {
            background-color: rgb(255, 115, 0);
        }
        &--gsw {
            background-color: rgba(0, 179, 255, 0.856);
        }
        &--memphis {
            background-color: rgba(0, 0, 255, 0.735);
        }
        &--rokets {
            background-color: rgba(0, 0, 0, 0.589);
        } 
        &--Jazz {background-color: yellow;} 
        &--pelicans {background-color: grey;} 
        &--wolves {background-color: white;} 
        &--kings {background-color: grey;} 
        &--portland {background-color: rgb(234, 61, 61);} 
        &--celtics {
            background-color: green;
        }
        &--hornets {
            background-color: rgb(82, 196, 224);
        }
        &--bulls {
            background-color: white;
        }
        &--76ers {
            background-color: white;
        }
        &--pistons {
            background-color: rgb(101, 101, 214);
        }
        &--heat {
            background-color: rgb(233, 104, 104);
        }
        &--bucks {
            background-color: rgb(42, 125, 42);
        }
        &--cavaliers {
            background-color: rgb(192, 66, 66);
        }
        &--nets {
            background-color: grey;
        }
        &--hawks {
            background-color: rgb(247, 241, 241);
            padding: 0px;
        }
        &--pancers {
            background-color: rgb(232, 232, 154);
            
        }
        &--raptors {
            background-color: rgb(254, 4, 4);
            
        }
        &--magic {
            background-color: rgb(7, 200, 210);
            
        }
        &--wizards {
            background-color: white;
            
        }
}



.campeones_padre {
    height:1000px;
    width: 100%;
    padding: 15px;
    display: flexbox;
    
    
    

    &__sec1 {
        background-color: rgb(125, 2, 2);
        height: 300px;
        width: 98%;
        margin-bottom: 30px;
        padding: 5px;
        display: grid;
        grid-template-columns: 35% 30% 30% ;
        grid-template-rows: 100%;
        grid-template-areas: 
        "div div div";
        &__text {
            background-color: rgb(230, 169, 169);
            height: 255px;
            padding: 5px;
            text-align: justify;
            font-size: 14px;
            font-family: "Basketball";
            &--title {
                background-color:rgb(236, 154, 154) ;
                margin-bottom: 0px;
                text-align: center;
                font-family: "Basketball";
                font-size: 30px;
               
            }
           
        }
        &__video {
            margin-left: 10px;
        }
    }   
        

        
}

@media   screen and (max-width: 576px) {
     
    .campeones_padre {
        background-color: red;
        padding-left: 5px;
        width: 100%;
        height: 3000px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        grid-template-areas: 
        "section"
        "section"
        "section";
        
        &__sec1 {
            background-color: rgb(125, 2, 2);
            width: 100%;
            height: 820px;
            margin-left: 5px;
            padding-top: none;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 30% 30% 30% ;
            grid-template-areas: 
            "div"
            "div"
            "div";

          &__video {
            margin-left: 0px;
           
          }
           
            
           
           
            
        .tamanio {
            &__imgs {
                width: 100%;
                
            }
            &__vid {
                margin: none;
                width: 100% ;
                height: 325px;
               padding-right: 0px;
               padding-top: 38px;
               padding-left: -10px;
              
               flex-wrap: wrap;
                
            }
           
        }


        }
    }
   
    
}

.sec1__mvp {
    width: 100%;
    padding: 15px;
    padding-top: 30px;
    height: 350px;
}

@media screen and (max-width: 576px) {
    .sec1__mvp {
        height: 600px;
    }
}
@media screen and (max-width: 414px) {
    .sec1__mvp {
        height: 700px;
    }
}

.fond-mvp {
    height: 100%;
    margin-bottom: 20px;
}

.backg-sec1 {
    background-color: rgba(185, 11, 11, 0.715);
    width: 95%;
    height: 300px;
    margin: 0px 0px 20px 30px;
    padding: 10px;
    

    &__text {
        text-align: justify;
        font-size: 14px;
        font-family: "Basketball";
     &--tit-bg1 {
        font-family: "Basketball";
        font-size: 50px;
        text-align: center;
        margin-bottom: 10px;
        
     }
     &--tit-bg1-allstar {
        font-family: "Basketball";
        font-size: 50px;
        text-align: center;
        margin-bottom: 10px;
     }
    }
}

@media screen and (max-width: 576px) {
    .backg-sec1 {
        width: 100%;
        height: 630px;
        margin: 0px;
        margin-right: 0px;
        
    }
    .fond-mvp {
        height: 100%;
        width: 100%;
        padding: 5px;
    }
    .back-sec1 {
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .backg-sec1 {
        width: 100%;
        height: 630px;
       
        margin-right: 0px;
        
    }
    .fond-mvp {
        width: 100%;
        padding-left: 0px ;
    }
    .back-sec1 {
        width: 100%;
    }

}




