
.conteiner__actualidad {
    width: 100%;
    height: 700px;
    background-color: greenyellow;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
       display: grid;
       grid-area: 30% 30% 30%;
       grid-template-areas: "div div div";
        
   
    
    &__tarjetas-actualidad {
        margin-top: 30px;
       
    }
}

@media screen and (max-width:460px) {
    .conteiner__actualidad {
        height: 1800px;
        padding-left: 85px;
        display: grid;
       grid-area: 30% 30% 30%;
       grid-template-areas: 
       "div"
        "div" 
        "div";
    }
    
}

@media screen and (max-width:390px) {
    .conteiner__actualidad {
        padding-left: 55px;
        
    }
    
}




.historia {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(red, rgb(42, 80, 138));
    margin-top: 0px;
}

.fondo {
    background-color: red;
    &__margin {
        margin: 0px;
    }
    &__height {
        height:550px;
    }
}

.info {
   height: 100%;
   width: 850px;
  margin-left: 200px;
   background-color: white;
   border: 15px solid blue;
   text-align: justify; 
   &__titulo {
    font-family: "Basketball";
   }
   
}
@media screen and (max-width: 576px) {
    .info { margin-left: 0px;}
    
}



.campeones_padre__sec2{
    background-color: blue;
    height: 300px;
    width: 98%;
    margin-bottom: 30px;
    padding: 5px;
        display: grid;
        grid-template-columns: 35% 30% 30% ;
        grid-template-rows: 100%;
        grid-template-areas: 
        "div div div";
        &__text {
            padding: 10px;
            text-align: justify;
            font-size: 12px;
            font-family:"Basketball";
            &--title {
                text-align: center;
                font-family: "Basketball";
            }
           
        }
        &__video {
            margin-left: 10px;
        }
        
}
.bg-warriors{
    background-color: skyblue;
    height: 290px;
    width: 350px;
}
@media   screen and (max-width: 576px) {

     
        .campeones_padre__sec2 {
                background-color: rgb(2, 53, 125);
                width: 100%;
                height: 820px;
                margin-left: 5px;
                padding-top: none;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 30% 30% 30% ;
                grid-template-areas: 
                "div"
                "div"
                "div";
    
              &__video {
                margin-left: 0px;
              }
               
                
               
               
                
            .tamanio {
                &__imgs {
                    width: 100%;
                    margin-bottom: 20px;
                    
                }
                &__vid {
                    &--2{
                    margin: none;
                    width: 100% ;
                    height: 325px;
                   padding-right: 0px;
                   padding-top: 28px;
                   padding-left: -10px;
                   flex-wrap: wrap;
                   margin-bottom: 20px;
                }
                    
                }
               
            }
    
    
            
        } 
        .bg-warriors {
            height: 220px;
            width: 100%;
            margin-left: 0px;
            margin-top: 49px;
        }
    
}

@media   screen and (max-width: 576px) {
    .info {
        margin-left: none;
    }

}

.padre-premio {
    height: 1000px;
    width: 100%;
    background-color: rgb(184, 2, 2);
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 25% 25%;
    grid-template-areas: 
    "section div"
    "section div"
    "section div"
    ;
   
}
.conteiner-premio {
 height: 700px;
 width: 380px;
 background-color: rgb(184, 2, 2);
 padding: 40px;
 justify-content: center;
 margin-left: 30px;
 margin-top: 30px;

 &__tit-premio {
    font-family: "Basketball";
    text-align: center;
    color: white;
 }
}

.conteiner-tarj-mvp {
    height: 930px;
    width: 95%;
    background-color:  rgb(184, 2, 2);
    margin-top: 30px;
    padding: 10px;
}
.nombres-mvp {
    font-family: "Basketball";
}

@media screen and (max-width: 576px) {
    .padre-premio {
        background-color: red;
        height: 2700px;
        width: 100%;
        padding: 0px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "section"
        "section"
        "section"
        "footer";
        display: block;
    }
    .conteiner-premio {
      width: 90%;
      margin-bottom: 50px;
      padding-left: 55px;
      margin-left: 25px;
      
    }
    .conteiner-tarj-mvp {
        width: 100%;
        height: 1950px;
    }
    
    
}

@media screen and (max-width: 414px) {
   .conteiner-premio {
    padding: 25px;
   }
}


.conteiner-videos-allstar {
    background-color: grey ;
    width: 100%;
    height: 450px;
    padding-left: 15px;
    align-items: center;
    display: inline-flex;

    &__videos-individuales {
        background-color: greenyellow;
        height: 430px;
        width: 375px;
        margin: 10px;
        &__bg-video {
            background-color: black;
            width: 365px;
            height: 295px;
            margin: 5px;
        }
        &__bg-text {
            background-color: black;
            width: 365px;
            height: 120px;
            margin: 5px;
            padding: 15px;
            color: aliceblue;
            text-align: center;
            font-family: "Basketball";
           
        }
    }
}

@font-face {
    font-family: "Basketball";
    src: url(/Fonst/Basketball.otf);
}


@media screen and (max-width: 576px) {
    .conteiner-videos-allstar {
        
        height: 1350px;
        width: 100%;
        
       display: grid;
       grid-template-rows: 33% 33% 33%;
       grid-template-areas: 
       "div"
       "div"
       "div";

    }
    .conteiner-videos-allstar__videos-individuales{
        margin-left: 30px;
       }

    
}
@media screen and (max-width: 390px) {

    .conteiner-videos-allstar {
        height: 1350px;
       width: 100%;
       
       display: grid;
       grid-template-columns: 100%;
       grid-template-rows: 33% 33% 33%;
       grid-template-areas: 
       "div"
       "div"
       "div";

    
    }
    
   .conteiner-videos-allstar__videos-individuales{
    margin-left: -7px;
   }
}