
.titulo__section2 {
    @include titulo-grande;
    font-size: 40px;
    font-family: "Basketball";
    
}

.conteiner-videos__index {
    background-color: black;
    height: 350px;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "div div";
    border: blue solid 7px;
}
@media screen and (max-width:460px) {
    .conteiner-videos__index {
        background-color: blue;
        width: 100%;
        height: 900px;
        display: grid;
        grid-template-rows: 70% 30%;
        grid-template-areas: 
        "div"
        "div";
    }
}

.titulosSection3{
    font-family:"Basketball" ;
    font-size: 40px;
    font-display: 42px;
    margin-top: 30px;
   font-stretch: expanded;
   line-height: 55px;

   @media screen and (max-width:460px) {
    font-size: 25px;
    
   }
   
}

.campeones_padre__sec3{
    background-color: rgb(15, 120, 15);
    height: 300px;
    width: 98%;
    margin-bottom: 30px;
    padding: 5px;
            display: grid;
            grid-template-columns: 35% 30% 30% ;
            grid-template-rows: 100%;
            grid-template-areas: 
            "div div div";
            &__text {
                background-color: rgb(139, 241, 139);
                margin-bottom: 3px;
                padding: 10px;
                text-align: justify;
                font-size: 14px;
                font-family:"Basketball";
                &--title {
                    text-align: center;
                    background-color: rgb(139, 241, 139) ;
                    margin-bottom: 0px;
                    font-family: "Basketball";
                }
               
            }
            &__video {
                margin-left: 10px;
            }
    
    
}


@media   screen and (max-width: 576px) {

     
    .campeones_padre__sec3 {
            background-color: rgb(54, 193, 54);
            width: 100%;
            height: 820px;
            margin-left: 5px;
            padding-top: none;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 30% 30% 30% ;
            grid-template-areas: 
            "div"
            "div"
            "div";

          &__video {
            margin-left: 0px;
          }
           
            
           
           
            
        .tamanio {
            &__imgs {
                width: 100%;
                margin-bottom: 20px;
                
            }
            &__vid {
                &--3{
                margin: none;
                width: 100% ;
                height: 325px;
               padding-right: 0px;
               padding-top: 28px;
               padding-left: -10px;
               flex-wrap: wrap;
               margin-bottom: 5px;
            }
                
            }
           
        }


        
    } 

}

.conteiner-estadistica-allstar {
    background-color: pink;
    width: 100%;
    height: 4200px;
    padding: 30px;
    padding-left: 90px;
}
@media screen and (max-width: 576px) {
    .conteiner-estadistica-allstar {
        width: 100%;

    }
    .imag-sec3-allstar {
        width: 100%;
        height: 100%;
    }
    .imag-sec3-allstar {
        width: 0px;
        height: 0px;
        margin-right: 0px;
        
    }
}
@media screen and (max-width: 390px) {
    .conteiner-estadistica-allstar {
        width: 100%;

    }
    .imag-sec3-allstar {
        width: 0px;
        height: 0px;
        margin-right: 0px;
        
    }
}